
      	<% if logged_in?(:user) && blog.status == "published" || admin %>
            <h2 class="blog-post-title"><%= blog.title %></h2>
            <strong><%= blog.status.slice(0, 1).upcase + blog.status.slice(1..-1) if admin%></strong>


            <em class="blog-post-meta">Published <%= published_time(blog) %> ago</em>

            <p><%= body_helper(blog) %></p>

            <p><%= link_to 'Read More', blog, class: "btn btn-outline-primary" if blog.body.length > 400 %> &nbsp; <%= link_to 'Edit', edit_blog_path(blog), class: "btn btn-outline-success" if admin%> &nbsp; <%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" if admin%></p>

            


        
        <%end%>
        
      </tr>