<p id="notice"><%= notice %></p>

<p>
  
  <h2><%= @blog.title %></h2>
</p>

<em>Published <%= distance_of_time_in_words(@blog.created_at, Time.now)%> ago</em>

<p>
  
  <%= @blog.body %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) if admin %> 
<%= link_to 'Back', blogs_path %>

