<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <link rel = "shortcut icon" href = "https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" />

    <meta name = "keywords" content = "<%= @seo_keywords %>"

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

     <div id = "navbar" style="padding-bottom: 15px; display: inline-block;"> 
       
      <span style = "float: left"><%= link_to "Home", root_path %> | <%= link_to "About", about_me_path %> | <%= link_to "Contact", contact_path %> | <%= link_to "Blog", blogs_path %> | <%= link_to "Portfolio", portfolios_path %></span>
      




       <span style="margin-left: 242%"><% if current_user.is_a?(User)%>
       <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
       <% else %>
       <%= link_to 'Sign In', new_user_session_path %> |
       <%= link_to 'Sign Up', new_user_registration_path %>
       <% end %></span>
     </div>



    <%= yield %>

    <% if session[:source] %>
    <p>Thanks for visiting me from <%= session[:source] %></p>
    <% end %>
  </body>
</html>
