<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <link rel = "shortcut icon" href = "<%= @icon %>" />

    <meta name = "keywords" content = "<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">


  </head>

  <body>

    <%= render "shared/blog_nav" %>

    <%= render "shared/blog_masthead" %>
    
    <div class="container">

      <div class="row">
  
        <%= yield %>

        <%= render "shared/sidebar" %>

        <hr>
        
        <!--<%= session_msg_helper "blog" %> -->
      </div>
      
    </div>

    <%= render "shared/blog_footer" %>

  </body>
</html>
